## Imporing Important Packages

In [1]:
import sys
import os
# Add Scripts folder to Python path
sys.path.append(os.path.abspath("../Scripts"))
# Import DataLoader class
from data_load import DataLoader
from preprocessing import Preprocessing

## Initialize Classes

In [2]:
# Initialize DataLoader
loader = DataLoader()

## Loading Data

In [13]:
# Load data
df = loader.load_csv("BrentOilPrices.csv")  # Replace with your file name

## Previewing Sample Data

In [14]:
# Display Data
df

              Date  Price
0        20-May-87  18.63
1        21-May-87  18.45
2        22-May-87  18.55
3        25-May-87  18.60
4        26-May-87  18.63
...            ...    ...
9006  Nov 08, 2022  96.85
9007  Nov 09, 2022  93.05
9008  Nov 10, 2022  94.25
9009  Nov 11, 2022  96.37
9010  Nov 14, 2022  93.59

[9011 rows x 2 columns]

In [15]:
preprocessing = Preprocessing(df)

In [16]:
df = preprocessing.preprocess_data()

c:\Users\Admin\10_Academy_AI_Mastery_kifiya_Week_10\Scripts\preprocessing.py:12: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  self.data['Date'] = pd.to_datetime(self.data['Date'], errors='coerce')

Data preprocessing completed.

In [17]:
df

           Date  Price
0    1987-05-20  18.63
1    1987-05-21  18.45
2    1987-05-22  18.55
3    1987-05-25  18.60
4    1987-05-26  18.63
...         ...    ...
9006 2022-11-08  96.85
9007 2022-11-09  93.05
9008 2022-11-10  94.25
9009 2022-11-11  96.37
9010 2022-11-14  93.59

[9011 rows x 2 columns]

In [1]:
# import matplotlib.pyplot as plt

# # Plot the time series
# plt.figure(figsize=(12, 6))
# plt.plot(df['Date'], df['Price'], label='Brent Oil Price')
# plt.xlabel('Date')
# plt.ylabel('Price (USD)')
# plt.title('Brent Oil Prices Over Time')
# plt.legend()
# plt.show()

In [2]:
# from statsmodels.tsa.seasonal import seasonal_decompose

# # Set Date as Index
# df.set_index('Date', inplace=True)

# # Decompose the time series
# decomposition = seasonal_decompose(df['Price'], model='additive', period=365)

# # Plot decomposition results
# decomposition.plot()
# plt.show()

In [21]:
# pip install statsmodels

In [3]:
# from statsmodels.tsa.stattools import adfuller

# # Perform Augmented Dickey-Fuller test
# result = adfuller(df['Price'])

# # Print results
# print(f'ADF Statistic: {result[0]}')
# print(f'p-value: {result[1]}')
# if result[1] < 0.05:
#     print("The time series is stationary.")
# else:
#     print("The time series is non-stationary. Differencing is required.")

In [24]:
df['Price_diff'] = df['Price'].diff().dropna()

In [4]:
# from statsmodels.tsa.arima.model import ARIMA

# # Fit ARIMA model (order values need tuning)
# model = ARIMA(df['Price'], order=(1,1,1))
# model_fit = model.fit()

# # Forecast
# forecast = model_fit.forecast(steps=30)
# print(forecast)

In [5]:
# # Fit ARIMA model (order values need tuning)
# model = ARIMA(df['Price_diff'], order=(1,1,1))
# model_fit = model.fit()

# # Forecast
# forecast = model_fit.forecast(steps=30)
# print(forecast)

In [6]:
# plt.figure(figsize=(12, 6))
# plt.plot(df.index, df["Price"], label="Brent Oil Price")
# plt.xlabel("Date")
# plt.ylabel("Price (USD)")
# plt.title("Brent Oil Prices Over Time")
# plt.legend()
# plt.show()

In [7]:
# from statsmodels.tsa.api import VAR

# # Select relevant columns
# var_data = df[['Price', 'GDP', 'Inflation', 'Unemployment', 'ExchangeRate']].dropna()

# # Fit VAR model
# model = VAR(var_data)
# model_fitted = model.fit(maxlags=5)

# # Forecast
# forecast = model_fitted.forecast(var_data.values[-5:], steps=30)
# print(forecast)

In [8]:
# from statsmodels.tsa.regime_switching.markov_regression import MarkovRegression

# # Fit Markov-Switching ARIMA
# ms_model = MarkovRegression(df["Price"], k_regimes=2, trend="c", switching_variance=True)
# ms_model_fitted = ms_model.fit()

# # Predict regime
# regime_prob = ms_model_fitted.smoothed_marginal_probabilities
# print(regime_prob.tail())

In [9]:
# import numpy as np
# import tensorflow as tf
# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import LSTM, Dense

# # Prepare data
# X = np.array(df["Price"].values[:-1])
# y = np.array(df["Price"].values[1:])

# X = X.reshape((X.shape[0], 1, 1))  # Reshape for LSTM

# # Define LSTM model
# model = Sequential([
#     LSTM(50, activation="relu", input_shape=(1,1)),
#     Dense(1)
# ])

# model.compile(optimizer="adam", loss="mse")

# # Train model
# model.fit(X, y, epochs=50, verbose=0)

# # Predict
# forecast_lstm = model.predict(X[-30:])
# print(forecast_lstm)

In [10]:
# from sklearn.metrics import mean_squared_error, r2_score

# def evaluate_model(y_true, y_pred, model_name):
#     rmse = np.sqrt(mean_squared_error(y_true, y_pred))
#     r2 = r2_score(y_true, y_pred)
#     print(f"{model_name} - RMSE: {rmse:.2f}, R-squared: {r2:.2f}")

# # Evaluate ARIMA, VAR, and LSTM
# evaluate_model(processed_data["Price"].values[1:], forecast, "VAR")
# evaluate_model(processed_data["Price"].values[-30:], forecast_lstm.flatten(), "LSTM")